# Problem 1(a).  College data.

The data set usnews.csv contains data from the 1995 US News and World Report on colleges and universities in the US.  

(Dataset:  “US News College data,” submitted by Robin Lock, St. Lawrence University.   Dataset obtained from the Journal of Statistics Education (http://www.amstat.org/publications/jse). Accessed 23 June 2015. Used by permission of author.)

Metadata:  http://www.amstat.org/publications/jse/datasets/usnews.txt


The data set contains asterisks which indicate missing data.  Use pandas to create a data frame which replaces the asterisks by the ```NaN``` symbol. Also look out for extra spaces.

In [23]:
# Author: Brian Pankau
# Class: DS710 Summer 2017
# Assignment: Python 9

# Problem 1(a)
# import libraries
import os
import csv
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

# set working directory
os.chdir('c:/Temp9')

# read csv file as a df
df = pd.read_csv('usnews.csv')

# replace all '*' with NaN
for col in df.columns:
  arr_uni = np.array(df[col], dtype=np.unicode_)
  arr_uni[arr_uni == '*'] = 'NaN'
  arr_obj = arr_uni.astype(object)
  df[col] = arr_obj

#Problem 1(b).  Categorizing universities.

Create a new column in your data frame which describes whether a university is public or private, using the words "Public" and "Private" instead of numbers.  (It may be helpful to consult the metadata file.)

In [24]:
# Problem 1(b)
# generate a list of the column names
col_list = list(df.columns)

# remove the leading space on the column names
col_new = []
for i in col_list:
  if i == "ID Number":
    col_new.append(i)
  else:
    col_new.append(i[1:])

# update the df column names
df.columns = col_new

# add a new column name to the column names
col_new.append('Institution')

# add a new column to the df
df = DataFrame(df, columns=col_new)

# update the 'Instution' column with strings based on values in 'Public/private' column
pp = Series(df['Public/private'], dtype='int8')
inst_list = []
for q in pp:
  if q == 1:
    inst_list.append("Public")
  elif q == 2:
    inst_list.append("Private")
  else:
    inst_list.append("NaN")
df['Institution'] = inst_list

#Problem 1(c).  

The interquartile range is the 3rd quartile minus the 1st quartile.  Create columns recording the interquartile range for math and verbal SAT scores.

In [25]:
# Problem 1(c)
# Math SAT
# convert third_math_sat string scores to interger, replace NaN with zeros
third_math_sat_obj = df['Third quartile - Math SAT']
third_math_sat_int_list = []
for t in third_math_sat_obj:
  if t == 'NaN':
    third_math_sat_int_list.append(0)
  else:
    third_math_sat_int_list.append(int(t))
arr3_math_sat = np.array(third_math_sat_int_list)

# convert first_math_sat string scores to interger, replace NaN with zeros
first_math_sat_obj = df['First quartile - Math SAT']
first_math_sat_int_list = []
for t in first_math_sat_obj:
  if t == 'NaN':
    first_math_sat_int_list.append(0)
  else:
    first_math_sat_int_list.append(int(t))
arr1_math_sat = np.array(first_math_sat_int_list)

# calculate interquartile (as integers)
arri_math_sat = arr3_math_sat - arr1_math_sat

# convert interquartile integer to string, replace zeros with NaN
arri_math_sat_str = []
for a in arri_math_sat:
  if a == 0:
    arri_math_sat_str.append('NaN')
  else:
    arri_math_sat_str.append(str(a))

# assign interquartile string list to df
# add new columns for Math SAT Interquartile range
df['Interquartile  - Math SAT'] = arri_math_sat_str

# Verbal SAT
# convert third_verbal_sat string scores to interger, replace NaN with zeros
third_verbal_sat_obj = df['Third quartile - Verbal SAT']
third_verbal_sat_int_list = []
for t in third_verbal_sat_obj:
  if t == 'NaN':
    third_verbal_sat_int_list.append(0)
  else:
    third_verbal_sat_int_list.append(int(t))
arr3_verbal_sat = np.array(third_math_sat_int_list)

# convert first_verbal_sat string scores to interger, replace NaN with zeros
first_verbal_sat_obj = df['First quartile - Verbal SAT']
first_verbal_sat_int_list = []
for t in first_verbal_sat_obj:
  if t == 'NaN':
    first_verbal_sat_int_list.append(0)
  else:
    first_verbal_sat_int_list.append(int(t))
arr1_verbal_sat = np.array(first_verbal_sat_int_list)

# calculate verbal interquartile (as integers)
arri_verbal_sat = arr3_verbal_sat - arr1_verbal_sat

# convert verbal interquartile integer to string, replace zeros with NaN
arri_verbal_sat_str = []
for a in arri_verbal_sat:
  if a == 0:
    arri_verbal_sat_str.append('NaN')
  else:
    arri_verbal_sat_str.append(str(a))

# assign interquartile string list to df
# add new columns for Verbal SAT Interquartile range
df['Interquartile  - Verbal SAT'] = arri_verbal_sat_str

# Problem 1(d).  Saving for R.

Save your data frame as a .csv file for further analysis in R.  You should replace the ```NaN``` symbol with an empty string before saving.  Your output should not include a column of row numbers.

In [26]:
# Problem 1(d)
# save data to .csv w/o row numbers
# create df for csv writing
df_cvs = DataFrame(df, columns=df.columns[1:])

# write to .csv file 
df.to_csv("c:/Temp9/Assignment_9.csv", index=False, quoting=csv.QUOTE_NONNUMERIC)